# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.terraform.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\workspace\swdev-ninja-azure\terraform\.idea\.idea.terraform.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
